<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tetrified</title>

    <script>
        window.setTimeout(function () {
            window.document.location.reload();
        }, 1000);        
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
